<!-- <div class="intro"> -->
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border p-3 rounded-3">
    <!-- [formGroup]="registerForm" -->
    <div class="row g-0">......
        
    </div>
    <div class="row">
        <div class="col md-3">
            <label for="FirstName" class="form-lable">First Name :</label>
            <input type="text" class="from-control" id="FirstName"
            formControlName="FirstName">
            <div class="form-text text-danger" *ngIf="FirstName.errors?.['required'] && (FirstName.touched || FirstName.dirty)">
                First Name is Required.
            </div>
            <!-- *ngIf="FirstName.errors?.['minLength']" -->
            <div class="form-text text-danger" *ngIf="FirstName.errors?.['minLenght'] && (FirstName.touched || FirstName.dirty)" >
                First Name is too short.
            </div>
            <div class="form-text text-danger" *ngIf="FirstName.errors?.['pattern'] && (FirstName.touched || FirstName.dirty)">
                First should start with Alphabet.
            </div>

        </div>

    </div>
<br>
    <div class="row">
        <div class="col md-3">
            <label for="MiddleName" class="form-lable">Middle Name :</label>
            <input type="text" class="from-control" id="middleName"
            formControlName="middleName">

            <div class="form-text text-danger" *ngIf="middleName.errors?.['required'] && (middleName.touched || middleName.dirty)">
                Middle Name is Required.
            </div>
            <div class="form-text text-danger" *ngIf="middleName.errors?.['minLength'] && (middleName.touched || middleName.dirty)">
                Middle Name is too short.
            </div>
            <div class="form-text text-danger" *ngIf="middleName.errors?.['pattern'] && (middleName.touched || middleName.dirty)">
                Middle should start with Alphabet.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col md-3">
            <label for="lastName" class="form-lable">Last Name :</label>
            <input type="text" class="from-control" id="lastName"
            formControlName="lastName">

            <div class="form-text text-danger" *ngIf="lastName.errors?.['required'] && (lastName.touched || lastName.dirty)">
                Last Name is Required.
            </div>
            <div class="form-text text-danger" *ngIf="lastName.errors?.['minLength'] && (lastName.touched || lastName.dirty)">
                Last Name is too short.
            </div>
            <div class="form-text text-danger" *ngIf="lastName.errors?.['pattern'] && (lastName.touched || lastName.dirty)">
                Last should start with Alphabet.
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col md-3">
            <label for="course" class="form-lable">Course</label>
            <select name="course" id="course">
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Angular">Angular</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col md-3">
            <label for="email" class="form-lable">E-mail :</label>
            <input type="email" class="from-control" id="email"
            formControlName="email" formControlName="email">

            <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
                Email is Required.
            </div>
            <div class="form-text text-danger" *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
                Email is Invalid.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col md-3">
            <label for="phone" class="form-lable">Phone :</label>
            <input type="text" class="from-control" id="phone"
            formControlName="phone">
        </div>
        <div class="form-text text-danger" *ngIf="phone.errors?.['required'] && (phone.touched || phone.dirty)">
            Number is Required.
        </div>
        <div class="form-text text-danger" *ngIf="phone.errors?.['pattern'] && (phone.touched || phone.dirty)">
            Number is Invalid.
        </div>
    </div>
    <div class="col ps-3 mb-3">
        <div class="m-1">Gender</div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-inline" value="m" id="male"
            formControlName="gender">
            <label for="male" class="form-check-lable">Male</label>
        <div>
            
            <input type="radio" class="form-check-inline" value="f" id="female"
            formControlName="gender">
            <label for="female" class="form-check-lable">Female</label>
        </div>
        <div>
            
            <input type="radio" class="form-check-inline" value="o" id="other"
            formControlName="gender">
            <label for="other" class="form-check-lable">Other</label>
        </div>
        <div class="form-text text-danger" *ngIf="Gender.errors?.['required']"></div>
        
        </div>
    </div>
    <div class="row">
        <div class="col md-3">
            <label for="pwd" class="form-lable">Password :</label>
            <input type="text" class="from-control" id="pwd"
            formControlName="pwd">
        </div>
        <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.touched || PWD.dirty)">
            Password is Required.
        </div>
        <div class="form-text text-danger" *ngIf="PWD.errors?.['minLength'] && PWD.errors?.['maxLength'] && (PWD.touched || PWD.dirty)">
            Password should be atleast 6 and max 15 character.
        </div>
    </div> 
    <div class="row">
        <div class="col md-3">
            <label for="rpwd" class="form-lable">Re-type password :</label>
            <input type="text" class="from-control" id="rpwd"
            formControlName="rpwd">
            <div class="form-text text-danger" [ngStyle]="{'display':repeatPass}">
                Password should be same
            </div>
        </div>
    </div>







<div class="row">
    <div class="col-6">
        
            <button type="submit" class="btn btn-success">Submit</button>
       
    </div>
</div>

</form>
<!-- </div> -->